//App component
.app{
  width: 500px;
  margin: 0 auto;
}
//TodoTemplate component
.todo-template{
  h1{
    text-align: center;
    padding: 10px 0;
    background-color: teal;
    color: #fff;
  }
  p{
    background-color: #fff;
  }
}
//TodoInsert component
.todo-insert{
  display: flex;
  justify-content: space-between;
  input{
    flex: 1;
    font-size: 1.5rem;
    background-color: #222;
    color: #fff;
    border: none;
    outline: none;
    &::placeholder{
      color: #fff;
    }
  }
  button{
    background-color: #444;
    color: #fff;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1.5rem;
  }
}

//TodoList component
.todo-list{
  li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
    label{
      flex: 1;
      font-size: 1.2rem;
    }
    button{
      cursor: pointer;
      width: 20px;
      color: #f00;
      border: {
        radius: 50%;
        width: 1px;
        style: solid;
        color:#f00;
      }
    }
  }
  input{
    cursor: pointer;
  }
  label.checkedLine{
    color: #666;
    text-decoration: line-through;
  }
}